form {
  font: 18px garamond, serif;
} 
input[type=text] {
  width: 8%;
  font: 18px garamond, serif;
  border: none;
  border-bottom: 2px solid maroon;
  text-align: center;
}
  input[type=text]:focus {
  outline: none;
}
input[type=number] {
  width: 20%;
  font: 18px garamond, serif;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
button {
  outline: none;
}
#button1 {
  background: maroon;
  border:  none;
  padding:  10px;
  color: #FAEBD7;
  font: 18px garamond, serif;
}
#button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#button2 {
  background: maroon;
  border:  none;
  padding:  10px;
  color: #FAEBD7;
  font: 36px aharoni, sans-serif;
  letter-spacing: 3px;
  border-radius: 3px;
  position: relative;
  top: 50%;
  left: 50%;
}
#button2:hover {
  color: black;
}
#start {
  position: absolute;
  top: 250px;
  left: 46px;
}
h1 {
   font: 72px garamond, serif; 
  color: #EEE8AB;
}
.center {
  text-align: center;
}
span:not(.excl) {
    padding-right: 10px;
}
.bottom-right {
  position: relative;
  top: 100px;
  right: 0px;
}
.top-left {
  position: absolute;
  top: 0%;
  left: 0%;
  padding:  10px;
}
.footer {
  background: maroon;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
}
